*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containers
{
    background-color: rgba(231, 222, 222, 0.329);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 10px;
    margin: 5px;
}
.navv a{
   text-decoration: none;
   color: black; 
   font-size: 13px;
}
.containers .bar{
    display: none;
    font-size: 25px;
   
}
.navv .menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* background-color: red; */
}
.menu .menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: yellow; */
}
.menu .menus .btn{
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

.main-banner::before{
    content: '';
    background-image: url("images/banner-right-image.png");
    height: 640px;
    width: 750px;
    position: absolute;
    right: 0;
    top: 0;
    background-size: 750px;
    background-repeat: no-repeat;
}
.main-banner{
    position: relative;
    
}
.main-banner .row 
{   
    
    padding-bottom:10%; 
    padding-top:5%;
}

.main-banner::after{
    content: '';
    background-image: url("images/baner-dec-left.png");
    height:500px;
    width: 400px;
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size:240px;
    z-index: -1;
}
.header-text h6{
    color: orangered;
    font-size: 20px;
}
.header-text h2{
    /* width: 70%; */
    font-size: 50px;
    font-weight: 700;
}
.header-text h2 em{
    color: rgb(57, 57, 255);
    font-weight: 900;
    font-style: normal;
}
.header-text h2 span{
    color: orangered;
    font-weight: 900;
    font-style: normal;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}
.main-banner .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.call-button a i{
    background-color: orangered;
    padding: 10px;
    color: white;
}
.call-button a{
    text-decoration: none;
    color: orangered;
}
.down-button{
    width:60%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}
.down-button .btn{
    background-color: blue;
}
.down-button .btn a{
    text-decoration: none;
    color: white;
}
/* this is a page two */
.body2 .head .bb h2{
    font-weight: 900;

}

.body2 .cards .card{
    width: 70%;
}
.body2 .head .bb h2 em{
    text-decoration: none;
    font-style: normal;
    color: rgb(125, 125, 255);

    
}
.body2 .head .bb h2 span{
    color: orangered;
}
.body2 .head .bb .text-uppercase{
    font-weight: 900;
    font-size: 25px;
    opacity: 0.1;
    color: orangered;
}
.body2 .cards .card{
    width: 26rem;
}
.body2{
    position: relative;
    padding-bottom: 19vh;
    /* background-color: red; */
}
.body2::before{
    content: '';
    background-image: url("images/services-left-dec.png");
    height: 400px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    

}
.body2::after{
    content: '';
    background-image: url("images/services-right-dec.png");
    height: 305px;
    width: 305px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: 300px;
    background-repeat: no-repeat;
    z-index: -1;

}

.body3 .right .cards .cardd{
    /* background-color: red; */
    width: 20%;
}
.body3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6% 0px;

}
.body3 .right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.body3 .right .cards .cardd h1{
    padding-top: 10px;
    font-weight: 900;
    
}
.body3 .right .cards .cardd span{
    color: orangered;

}
.body3 .right .cards .cardd .pb-2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
    width: 90%;
}
.body3 .right .cards .cardd{
    width: 40%;
}
.body3 .right .h1{
    font-size: 30px;
    font-weight: 800;
    color: rgba(7, 5, 2,0.78);
}
.body3 .right .h1 em{
    color: rgb(55, 55, 247);
    font-style: normal;
}
.body3 .right .h1 span{
    color: orangered;
}

.body4{
    position: relative;
}
.body4 .head h1{
    font-weight: 900;
    font-size: 30px;
}
.body4 .head h1 em{
    font-style: normal;
    color: rgb(55, 55, 249);

}
.body4 .head h1 span{
    color: orangered;
}
.body4 .head .inhead .sp{
    font-weight: 900;
    font-size: 30px;
    opacity: 0.2;
}
.body4 .head .inhead{
    width: 40%;
    text-align: center;
}
.body4 .head {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.body4 .images{
    display: flex;
    justify-content: space-evenly;
   
}
.body4 .images .one{
    position: relative;
    cursor: pointer;
}
.body4 .images .one img{
    border-radius: 20px; 
}
.body4 .images .one::before{
    transition: transform 3s ease;
    transform: translateY(0);
    
}
.body4 .images .one:hover::before{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    text-align: center;
    padding: 10px;
    content: '9th Project SEO & Marketing';
    background-image: url("images/hover-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 5px 20px 3px ;
    height: 140px ;
    width: 140px;
    bottom: 30px;
    right: 20px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    position: absolute;
    cursor: pointer;
    transform: translateY(10px);
    
}
.body4::before{
    content: '';
    background-image: url("images/portfolio-left-dec.png");
    height: 300px;
    width: 500px;
    position: absolute;
    /* background-color: yellow; */
    z-index: -3;
    background-repeat: no-repeat;
    
}

.body5{
    padding: 50px 0px;
    position: relative;
}
.body5 .head{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.body5 .head .inhead{
    /* background-color: red; */
    width: 33%;
}
.body5 .head .inhead h2{
    font-weight: 900;
    font-size: 30px;
}
.body5 .head .inhead h2 em{
    color: rgb(73, 73, 249);
    font-style: normal;
    padding-right: 6px;
}
.body5 .head .inhead h2 span{
    color: orangered;
}
.body5 .head .inhead .sp{
    font-weight: 900;
    font-size: 30px;
    color: orangered;
    opacity: 0.2;
}
.body5 .cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.body5 .cards .card {
    text-align: center;
    min-width: 300px;
    width: 25%;
    gap: 20px;
    padding: 30px 0px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: transparent; */
   
}
.body5 .cards .card.one
{
    background-image: url("images/first-plan-bg.png");
    background-size: cover;
}
.body5 .cards .card.two
{
    background-image: url("images/second-plan-bg.png");
    background-size: cover;
}
.body5 .cards .card.three
{
    background-image: url("images/third-plan-bg.png");
    background-size: cover;
}
.body5 .cards .card h1{
    color: orangered;
    font-weight: 900;
}
.body5 .cards .card h2{
    font-weight: 900;
}
.body5 .cards .card strike,strike span{
    color: orangered;
}

.body5 .cards .card a{
    background-color: rgb(63, 63, 245);
    width: 50%;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 900;

}
.body5 .img1{
position: absolute;
top: 0;
left: 0;
z-index: -2;
}
.body5 .img2{
    position: absolute;
    right: 0;
    top: 0;
}

.body51 .inbody51 .subscribe input[type="text"]{
    border: none;
    background-color: transparent;
    
}
.body51 {
    display: flex;
    justify-content: center;
}
.body51 .inbody51{
    background-image: url("images/subscribe-bg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 60px; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:234px;
    width: 87%;
    border-radius: 20px;


}
.body51 .inbody51 .imgs1{
    position: absolute;
    right: -20px;
    top: -20px;

}

.body51 .inbody51 .login-banner h1{
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 34px;
    padding: 20px 0px;
}
.body51 .inbody51 .bt{
    display: none;
}
.body51 .inbody51 .bt .btn2{
   
    margin-top: 20px;
    width: 200px;
    border-radius: 50px;
    font-weight: 700;
    background-color: red;

}
.body51 .inbody51 .subscribe .btn{
    background-color: rgb(110, 110, 253);
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    width: 200px;
}
.body51 .inbody51 .subscribe{
    background-color: rgb(255, 255, 255);
    width: 80%;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    padding: 10px;
}
.bodyfooter span,p{
    opacity: 0.5;
}
.bodyfooter h5{
    font-weight: 700;
}
.bodyfooter .part-top{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    /* background-color: red; */
    position: relative;
    gap: 20px;
    overflow: hidden;
}
.bodyfooter .part-top .footer-dec{
    position: absolute;
    top: 0;
    
} 
.bodyfooter .part-top .one{
    /* background-color: red; */
    padding: 10px;
    width: 200px;
    height: 200px;
    gap: 26px;
    font-size: 18px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.bodyfooter .part-top .one .soc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
}
.bodyfooter .part-top .one .soc i{
    background-color: rgb(60, 60, 240);
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.bodyfooter .part-top .two,.three{
    /* background-color: red; */
    width: 250px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bodyfooter .part-top .two .intwo,.three .inthree{
    display: flex;
    /* justify-content: ; */
    flex-direction: column;
    gap: 10px;
}
.bodyfooter .part-top .two span{
    /* background-color: yellow; */
    font-size: 15px;
    padding-top: 10px;
}
.bodyfooter .part-top .four{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 260px;
    height: 230px;
}
.bodyfooter .part-top .four .sender{
    background-color: rgb(70, 70, 255);
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    padding: 10px 20px;

}
.bodyfooter .part-top .four .sender i{
    color: white;
    font-size: 22px;

}.bodyfooter .part-top .four .sender input::placeholder{
    color: white;
}
.bodyfooter .part-top .four .sender input{
    border: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
    /* font-weight: 600; */
    width: 60%;
}
.bodyfooter .bottom{
    padding: 20px 0px;
}
.bodyfooter .bottom em{
    color: orangered;
    font-style: normal;
    font-weight: 900;
}

@media(max-width:1300px){
    .main-banner::before{
        width: 50%;
    }
    
}
@media(max-width:992px){
    .main-banner::before{
        display: none;
    }
    .menu .menus .btn{
        display: none;
    }
    .down-button{
        width: 320px;
    }
    .containers {
        justify-content: space-between;
        /* background-color: red; */
    }
    .menu{
        width: 54%;
    }
    .body3 .left .img-main{
        width: 400px;
        height: 400px;
    }
    .body4 .images{
        align-items: center;
        flex-wrap:wrap;
        gap: 30px;
    }
    .body5 .head .inhead{
        /* background-color: red; */
        width: 50%;
    }  
  
}
@media(max-width:768px)
{
    .menu{
        width: 70%;

    }
    .body2 .cards .card{
        width: 80%;
    }
    .body3{
        flex-direction: column;
    }
    .body3 .left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* background-color: red; */
    }
    .body3 .left .img-main{
        width: 100%;
        padding: 20px;
    }
    .body3 .right {
        /* background-color: red; */
        width: 100%;
        padding: 0px 20px;
    }
    .body3 .right .cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .body3 .right .cards .cardd{
        text-align: center;
        width: 90%;
    }
    .body3 .right .cards .cardd .pb-2{        
        width: 100%;
    }
    .body4 .head .inhead{
        /* background-color: red; */
        width: 80%;
    } 
    .body5 .head .inhead{
        /* background-color: red; */
        width: 70%;
    }   
    .body51 .inbody51 .login-banner h1{
        font-size: 1.9em;
    }
    .body51 .inbody51 .subscribe input[type="text"]{
        width: 40%;
    }
    .body51 .inbody51 .subscribe .btn.btn1{
        display: none;
    }
    
    .body51 .inbody51 .bt .btn2{
        padding-top: 10px;
        color: white;
    }
    .body51 .inbody51 .login-banner h1{
        font-size: 1.5em;
    }
    .body51 .inbody51 .bt{
        display: block;
    }
    .body51 .inbody51 .imgs1{
        display: none;
    }


  

}
@media(max-width:576px){
    .containers .menus{
        display: none;
    }
    .containers .bar{
        display: block;
    }
    .body5 .cards .card{
        width: 70%;
    }
    .body5 .head .inhead{
        /* background-color: red; */
        width: 90%;
    } 
    .body51 .inbody51 .login-banner h1{
        font-size: 1.1em;
    }

  
}
@media(max-width:428px){
    .bodyfooter .part-top .one,.two,.three,.four{
        width: 95%;
        /* background-color: red; */
        align-items: center;
    }
    .bodyfooter .part-top .one .soc{
        width: 60%;
    }
    
}